/* #region Common */
:root
{
  /* Color Schema inside root element */
  --or-page-bg: white;
  --or-primary: #e53170;
  --or-card-bg: #000000;
  --or-text-color-primary: #171734;
  --or-text-color-secondary: white;
  --or-text-color-terzary: #62c1ea;

}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion Common */



/* #region Utility*/


/* #endregion Utility*/




/* #region header*/
#title-team{
  color: var(--or-primary);
}

/* #endregion header*/



/* #region main*/
#color-custom{
  background-color: var(--or-card-bg);

}
#bg-color-custom {
  background-color: var(--or-card-bg);
}
.card{
  max-width: 500px;

}

#bg-color-custom h5,#bg-color-custom p:nth-child(2){
  color: var(--or-text-color-secondary);
}
#bg-color-custom h5{
  text-transform: uppercase;
}

#bg-color-custom p:nth-child(3){
  color: var(--or-text-color-terzary);
}

/* #endregion main*/